a {
    color: #fff;
    text-decoration: none;
}

body{
    height: 100%;
}

.header button {
    cursor: pointer;
    display: flex;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 20px;
    background: transparent;
    text-align: center;
    outline: none;
    opacity: 0.5;
    transition: opacity 300ms ease-out;
}

.header button:hover {
    opacity: 1;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #689CD2;
    color: #fff;
    font-family: Helvetica;
}

.header__section {
    display: flex;
    align-items: center;
}

.header_item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}

.header__item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}

.header__item:hover {
    background-color:  #12247D;
    border-radius: 4px;
}

.headerlogo {
    font-weight: bold;
}

.headerButton {
    cursor: pointer;
}

.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 165px;
    border-right: 1px solid #D7DBDD;
    background-color: #FCFDFD;
    padding: 10px;
}
.sideBar button{
    display: flex;
    border: none;
    color:  #689CD2;
    background: transparent;
    text-align: left;
    outline: none;
    transition: opacity 300ms ease-out;
    cursor: pointer;
    padding: 8px 0 8px 0;
    font-size: 18px;
}
.sideBar button:hover{
    background-color: #EEF3F5;
    border-radius: 3px;
}
.sideBar a {
    color: #689CD2;
}

.sideBar__item {
    cursor: pointer;
    padding: 8px 10px;
    font-size: 18px;
}

.sideBar__item:hover {
    background-color: #EEF3F5;
    border-radius: 4px;
}

main {
    display: flex;
    height: 80%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: #333;
    height: 100%;
    width: 100%;
    font-family: Helvetica;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

.wrap {
    display: flex;
    align-items: stretch;
    width: 85%;
    margin: auto;
    flex-direction: column;
}

.slider button {
    width: 30px;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 40px;
    text-align: center;
    outline: none;
    opacity: 0.5;
    transition: opacity 300ms ease-out;
}

.slider button:hover {
    opacity: 1;
}

.slider {
    display: flex;
    flex-direction: row;
}

.scroller {
    flex: 1;
    overflow: hidden;
}

.items {
    list-style-type: none;
    white-space: nowrap;
    transition: transform 1s ease-in-out;
}

.item {
    padding: 30px 20px;
    display: inline-block;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #689CD2;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 55%;
    border-radius: 0.35em;
}
.roomClose {
    cursor: pointer;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 300ms ease-out;
}

.roomClose:hover {
    opacity: 1;
}

.close {
    cursor: pointer;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 300ms ease-out;
}

.close:hover {
    opacity: 1;
}

.closebtn {
    cursor: pointer;
    color: #689CD2;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 300ms ease-out;
}

.closebtn:hover {
    opacity: 1;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.form-container-locale {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

form h1 {
    color: #689CD2;
    text-align: center;
}

form{
    padding: 0;
}

.form-container form {
    flex-basis: 70vh;
    padding: 2em;
    background: #fff;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    border-radius: 0.25em;
}

.form-container-locale form {
    flex-basis: 70vh;
    padding: 2em;
    background: #fff;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    border-radius: 0.25em;
}

.form-container-table form {
    flex-basis: 70vh;
    padding: 2em;
    background: #fff;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    border-radius: 0.25em;
}

.form-container input {
    padding: 0.5em;
    font-size: 0.875em;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-width: 1px 1px 1px 0;
    border-radius: 0;
}

.form-container-locale input {
    font-size: 0.875em;
}

.form-container-locale input:hover {
    cursor: pointer;
    /*border-color: #689CD2;*/
}

.form-container input:hover {
    border-color: #689CD2;
}

.form-container input:focus {
    background: #fff;
    box-shadow: inset 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.2);
    outline: 0;
}

.form-container-locale input:focus {
    background: #fff;
    box-shadow: inset 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.2);
    outline: 0;
}

.form-field {
    margin-bottom: 1em;
    display: flex;
}

.form-field label {
    color: #689CD2;
    flex: 0 1 4em;
    padding: 1em;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 0.75em;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    line-height: 1;
    border-radius: 0.25em 0 0 0.25em;
}

.form-field input {
    flex-grow: 1;
}

.input-right input,
.multi-input input:last-child {
    border-radius: 0 0.25em 0.25em 0;
}

.submit-field {
    flex-direction: row;
    justify-content: center;
}

.form-container input[type="submit"] {
    color: #fff;
    flex: 0 1 40%;
    padding: 0.8em;
    font-size: 1.2rem;
    text-shadow: 0 1px 0 #fff;
    background: #689CD2;
    border-radius: 0.25em;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color:  #12247D;
    border-radius: 4px;
}

.table-bordered {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    color: #fff;
    border-collapse: separate;
    border-spacing: 5px;
    background: #FCFDFD;
    border: 8px solid #689CD2;
    border-radius: 15px;
    width: 100%;
    background-position: 50% 50%;
}

.table {
    padding-top: 5%;
    margin: 0 auto;
    align-content: center;
}

th {
    font-size: 18px;
    padding: 10px;
    background: #689CD2;
}

td {
    background: #fff;
    padding: 10px;
}

.form-container-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0 auto;
}

.form-container-table input[type="submit"] {
    margin-top: 10px;
    color: #fff;
    flex: 0 1 40%;
    padding: 0.8em;
    font-size: 1.2rem;
    text-shadow: 0 1px 0 #fff;
    background: #689CD2;
    border-radius: 0.25em;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
}

.form-container-table input[type="submit"]:hover {
    background-color:  #12247D;
    border-radius: 4px;
}

.page__cell {
    min-width: 100%;
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
}

.page__row {
    background:  #689CD2;
    color: #FCFDFD;
    height: 10%;
}

.footer__copyright {
    text-align: center;
}

.footer__link {
    color: #FCFDFD;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer {
    padding: 1.2rem 0;
}